@font-face {
  font-family: 'harmonia bold';
  src: url(../fonts/harmonia-bold.ttf);
}
@font-face {
  font-family: 'harmonia light';
  src: url(../fonts/harmonia-light.ttf);
}
@font-face {
  font-family: 'harmonia regular';
  src: url(../fonts/harmonia-regular.ttf);
}
