.article {
  section {
    min-height: 90vh;

    div > * {
      color: $white;
    }

    a {
      clear: both;
    }
  }

  .background {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 120%;
      left: -10%;
      top: 0;

      @include media(phone) {
        left: -5.5%;
        width: 111%;
      }

      @include media(biggest) {
        left: -17.5%;
        width: 135%;
      }
    }

    * {
      position: inherit;
    }

    &--white {
      &::before {
        background-color: $white;
      }

      p:last-of-type {
        border-top: 1px solid $black;
      }

      * {
        color: $black;
      }
    }

    &--black {
      &::before {
        background-color: $black;
      }

      * {
        color: $white;
      }
    }
  }

  &__line {
    width: 100%;
    display: flex;
    padding: 2.5vh 0;
    position: relative;
    align-items: baseline;
    justify-content: space-between;

    @include media(phone) {
      padding-bottom: 1vh;
    }

    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background: $white;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    p {
      font-family: $bold;

      &:first-of-type {
        font-size: em(100);

        @include media(phone) {
          font-size: em(70);
        }

        @include media(biggest) {
          font-size: em(110);
        }
      }

      &:last-of-type {
        font-size: em(30);

        @include media(phone) {
          text-align: right;
          font-size: em(18);
        }

        @include media(biggest) {
          font-size: em(40);
        }
      }

      span {
        text-transform: uppercase;
      }
    }
  }

  &__content {
    div:not(.background) {
      @include media(laptop) {
        width: 47.5%;

        &:first-of-type {
          float: left;
        }

        &:last-of-type {
          float: right;
        }
      }

      p {
        font-family: $light;
      }
    }

    a {
      display: grid;
      text-align: center;

      @include media(laptop) {
        width: fit-content;
      }

      img {
        margin: 0 auto;
        transform: scale(.5);
      }

      span {
        opacity: .5;
        margin-top: 30px;
        font-size: em(12);
        font-family: $bold;
        text-transform: uppercase;
      }
    }

    ul {
      @extend %list;
    }

    p {
      @extend %paragraph;
    }

    .big {
      @extend %biggest;

      &--one {
        @extend %biggest--one;
      }

      &--two {
        @extend %biggest--two;
      }

      &--three {
        @extend %biggest--three;
      }
    }

    .button {
      position: relative;
      border-top: 1px solid;
      padding-right: 5%;
      padding-top: 1vh;
      margin-top: 10vh;
      float: left;
      width: 95%;

      @include media(phone) {
        padding-right: 20%;
        margin-top: 5vh;
        width: 80%;
      }

      &::after {
        @include transition($time);
        transform: rotate(0);
        font-family: $light;
        position: absolute;
        font-size: em(30);
        content: '+';
        right: 0;
        top: 0;
      }

      &.opened::after {
        transform: rotate(45deg);
      }
    }

    .toggle {
      width: 100%;
    }

    .small {
      font-size: em(30);
      font-family: $bold;

      @include media(phone) {
        font-size: em(25);
      }

      @include media(biggest) {
        font-size: em(40);
      }
    }

    .light {
      font-family: $light;

      &--one {
        font-size: em(30);

        @include media(phone) {
          font-size: em(20);
        }

        @include media(biggest) {
          font-size: em(40);
        }
      }

      &--two {
        line-height: 1.1;
        font-size: em(60);

        @include media(phone) {
          font-size: em(40);
        }

        @include media(biggest) {
          font-size: em(70);
        }
      }
    }
  }
}
