.header {
  z-index: 1;
  height: 100vh;

  // panel with logotype and menu
  &__hood {
    z-index: 2;
    width: 100%;
    display: flex;
    margin-top: 2vh;

    @include media(laptop) {
      position: fixed;
    }

    // mobile menu burger button
    &--button {
      position: absolute;
      display: none;
      width: 25px;
      right: 0;
      top: 1vh;

      @include media(phone) {
        display: block;
      }

      &.close {
        display: none;
      }
    }

    // logotype
    &--logo {
      float: left;
      display: flex;
      align-items: center;

      @include media(laptop) {
        height: 150px;
      }
    }

    // hood menu
    &--menu {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include media(phone) {
        -webkit-overflow-scrolling: touch;
        top: calc(42px + 2vh);
        overflow-y: scroll;
        position: absolute;
        padding-top: 10vh;
        display: none;
        height: auto;
        width: 100%;
        left: 0;
      }

      li {
        @include media(phone) {
          position: relative;
          padding-top: 10px;
          display: block;
        }

        @include media(laptop) {
          &:last-of-type {
            display: none;
          }
        }

        a {
          font-family: $bold;
          color: $white;
          display: flex;
          height: 150px;
          cursor: none;
          width: 150px;

          @include media(phone) {
            font-size: em(26);
            height: auto;
            width: auto;
          }

          @include media(laptop) {
            justify-content: center;
            align-items: center;
          }

          &:hover {
            border-bottom: 0;
          }
        }
      }
    }

    // action button
    &--action {
      @include border-radius(25px);
      padding: 12px 20px 10px;
      font-family: $bold;
      color: $white;
      float: right;
      cursor: none;
      margin-top: 54.5px;
      background-size: 500% 100%;
      transition: all $time * 5 ease-in-out;
      background-image: linear-gradient(to right, transparent, transparent, $white, $white, $white, $white);

      @include media(phone) {
        display: none;
      }

      &:hover {
        color: $black;
        border-color: transparent;
        background-position: 100% 0;
      }

      &:focus {
        outline: none;
      }
    }
  }

  // panel with bottom elements
  &__cellar {
    float: left;
    width: 100%;
    margin-top: 30vh;

    @include media(phone) {
      margin-top: 20vh;
    }

    @include media(biggest) {
      margin-top: 30vh;
    }

    .container {
      @include media(phone) {
        z-index: -1;
      }

      > * {
        color: $white;
        font-weight: normal;
      }
    }

    &--title {
      width: 80%;
      line-height: 1.2;
      font-size: em(50);
      font-family: $bold;

      @include media(phone) {
        font-size: em(30);
      }

      @include media(biggest) {
        font-size: em(60);
        width: 60%;
      }
    }

    &--subtitle {
      width: 65%;
      margin-top: 3vh;
      font-size: em(20);
      line-height: 1.6;
      font-family: $light;

      @include media(biggest) {
        width: 45%;
      }
    }
  }
}
