<footer id="footer" class="footer">
  <div class="container">

    <!-- logotype -->
    <div class="footer__logo">
      <object type="image/svg+xml" data="images/logo.svg"></object>
    </div>

    <!-- block with social networks -->
    <div class="footer__social">

      <!-- logotype -->
      <a href="#" class="footer__social--facebook">
        <object type="image/svg+xml" data="images/facebook.svg"></object>
      </a>

      <!-- logotype -->
      <a href="#" class="footer__social--instagram">
        <object type="image/svg+xml" data="images/instagram.svg"></object>
      </a>
    </div>

    <!-- footer menu -->
    <ul class="footer__menu">
      <li>
        <a href="#one" class="link">О нас</a>
      </li>
      <li>
        <a href="#two" class="link">Проекты</a>
      </li>
      <li>
        <a href="#three" class="link">Услуги</a>
      </li>
      <li>
        <a href="#four" class="link">Блог</a>
      </li>
    </ul>
  </div>
</footer>
