<header id="header" class="header">

  <!-- panel with logotype and menu -->
  <nav class="header__hood wow fade-in-down">
    <div class="container">

      <!-- logotype -->
      <div class="header__hood--logo">
        <object type="image/svg+xml" data="images/clock.svg"></object>
      </div>

      <!-- mobile menu burger button -->
      <a href="#modal" data-name="menu" class="header__hood--button open">
        <img src="images/menu.svg">
      </a>

      <!-- mobile menu burger button -->
      <a href="javascript:hide()" class="header__hood--button close">
        <img src="images/close.svg">
      </a>

      <!-- action button -->
      <a href="#five" class="header__hood--action link">Контакты</a>

      <!-- hood menu -->
      <ul id="menu" class="header__hood--menu">
        <li>
          <a href="#one" class="link">01 Стратегия</a>
        </li>
        <li>
          <a href="#two" class="link">02 Продвижение</a>
        </li>
        <li>
          <a href="#three" class="link">03 Решения</a>
        </li>
        <li>
          <a href="#four" class="link">04 Гарантия</a>
        </li>
        <li>
          <a href="#five" class="link">Контакты</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- panel with bottom elements -->
  <div class="header__cellar">
    <div class="container">
      <h1 class="header__cellar--title wow fade-in-left" data-wow-delay=".5s">Clock Creative Lab – создаем сайты для продаж и развития бизнеса</h1>
      <h2 class="header__cellar--subtitle wow fade-in-left" data-wow-delay="1s">Наши комплексные решения по достоинству оценили такие знаменитые марки как Mercedes-Benz и Audi</h2>
    </div>
  </div>
</header>