<!-- modal window -->
<div id="modal-1" class="modal">
  <div class="container">
    <a href="javascript:hide()" class="link">
      <img src="images/close.svg">
    </a>
    <p class="big big--one">Clock creative lab – комплексное продвижение брендов</p>
    <p class="padding--05">Креативная студия Clock Creative Lab — творческий центр по разработке и продвижению бизнеса в интернете. Наш профиль – комплексное продвижение брендов и торговых марок с помощью web-технологий. Мы разработали уникальную систему продвижения бренда в Интернет: она строится на анализе бизнеса и дальнейшей подготовке оптимального комплекса услуг и бюджета, создании мощного веб-продукта и его всестороннего развития. Наша команда плавно интегрируется в ваш бизнес и становится его важной частью. Полноценное и всестороннее продвижение бренда с первоклассной поддержкой и высочайшей ответственностью перед клиентом.</p>
    <p class="big big--one">Развиваем бизнес клиента</p>
    <p class="padding--05">Мы развиваем бизнес клиента, используя лучшие средства рекламы, дизайна, web и маркетинга.<br>
    Эксплуатируем все направления web-production для методичного развития бизнеса клиента.<br>
    Мы делаем не просто сайт, а создаем полностью рабочий инструмент для развития бизнеса, осуществляя его комплексное продвижение в соответствии с уникальной стратегией. Сегодня сам по себе интернет-сайт – не значит ничего, его цена равна нулю. Чтобы бизнес действительно развивался благодаря интернету, а web-production напрямую повлиял на продажи, необходима профессиональная команда, стратегия и безупречная реализация. Именно такой подход мы и предлагаем.<br><br>В штате Clock Creative Lab представлены специалисты всех направлений: веб-программирование, дизайн, контент, маркетинг, фото-продакшн, видео-продакшн, нейминг, SEO, SMM. Все они плодотворно взаимодействуют между собой, работая над Вашим брендом каждый день в одном общем пространстве – это гарантирует эффективное и всестороннее развитие проекта.<br><br>
    Вы будто берете команду специалистов “в аренду”: они садятся и развивают Ваш бренд в сети, а Вы – отслеживаете показатели в категориях, близких Вашей сфере интересов. Именно такое мощное вовлечение профессионалов в деле даст высокие результаты, а не сайт или реклама в социальных сетях – без толкового управления эти средства давно не работают.</p>
  </div>
</div>

<!-- modal window -->
<div id="modal-2" class="modal">
  <div class="container">
    <a href="javascript:hide()" class="link">
      <img src="images/close.svg">
    </a>
    <p class="big big--one">Этапы создания и развития сайта</p>
    <p class="padding--05">Работа над проектом делится на 2 этапа – разработка уникальной платформы и дальнейшее продвижение бренда на ее основе.</p>
    <ul class="none">
      <li>01 Разработка сайта-платформы для продвижения</li>
    </ul>
    <p class="padding--05">Строим платформу из трех составляющих:</p>
    <ul>
      <li>SEO на этапе продвижения</li>
      <li>Дизайн</li>
      <li>Разработка сайта</li>
    </ul>
    <p class="padding--05">Также частью комплекса могут стать:</p>
    <ul>
      <li>айдентика (создание фирменного стиля)</li>
      <li>нейминг (разработка уникального имени/названия)</li>
    </ul>
    <p class="padding--05">На этом подготовительном этапе закладывается “фундамент” проекта. Создается уникальный дизайн, разрабатывается “функционал” сайта, а также проводится важная работа по SEO (а если вы только начинаете работу над созданием бренда, также понадобится нейминг, айдентика и полноценный брендбук). Специалисты на этом этапе учитывают все последние технические разработки и талантливо реализуют их. Многие из них влияют на будущее SEO-продвижение: например, оптимизация скорости загрузки страниц сайта, микроразметка, удобство для пользователя.<br>
    Мы обеспечиваем эффективное управление web-продуктом в будущем: делаем все, чтобы создать мощную платформу, заточенную под командную работу.</p>
    <ul class="none">
      <li>02 Дальнейшее продвижение проекта</li>
    </ul>
    <p class="padding--05">Сайт для Вашего бизнеса – это лишь малая часть стратегии развития. Важны идеи, важна стратегия и дальнейшая реализация – и именно за это Вы платите. В продвижении мы делаем акцент на интеллектуальный труд: продумать, создать, запустить, учесть нюансы и сделать лучше конкурентов.<br><br>
    Комплексное продвижение бренда базируется на уникальной стратегии: ее создание строится на взаимодействии коллектива с клиентом. В стратегии прописываются все действия, планы, критерии роста и показатели, которые будут получены в результате работы.<br><br>
    Конкретные цели, конкретные сроки, конкретные исполнители и конкретные гарантии для клиента. Мы целенаправленно и непрерывно обслуживаем Ваш бренд с ориентацией на прописанную стратегию. Шаг за шагом, месяц за месяцем вся команда Clock Creative Lab реализует уникальную стратегию и укрепляет созданную платформу.</p>
    <p class="padding--05">Чего ждать от этапа продвижения:</p>
    <ul>
      <li>расширение структуры проекта</li>
      <li>повышение видимости проекта в Интернет</li>
      <li>создание интересного и эффективного Блога на сайте (важный инструмент , благодаря которому мы получаем бесплатный органический трафик, повышаем конверсию и обеспечение долгосрочно видимости бренда в Интернет)</li>
      <li>качественная аналитика роста и заметный выход в лидеры среди конкурентов</li>
      <li>работа и взаимодействие с отделом продаж вашего бренда</li>
      <li>мощная рекламная кампания во всех необходимых источниках, в различных форматах – PPC,  Google Ads, Facebook, Instagram</li>
    </ul>
  </div>
</div>
